Source: libxau
Section: gui
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Branden Robinson <branden@debian.org>, Fabio M. Di Nitto <fabbione@fabbione.net>
XCS-Cross-Host-Build-Depends: debhelper (>= 4.0.0), pkg-config
XCS-Cross-Build-Depends: x11proto-core-dev
Build-Depends: debhelper (>= 4.0.0), pkg-config, x11proto-core-dev
Standards-Version: 3.6.1.0

Package: libxau6
Section: gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X11 authorisation library
 This package provides the main interface to the X11 authorisation handling,
 which controls authorisation for X connections, both client-side and
 server-side.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'lib/Xau' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: libxau6-dbg
Section: host-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxau6 (= ${Source-Version})
Description: X11 authorisation library (debug package)
 This package provides the main interface to the X11 authorisation handling,
 which controls authorisation for X connections, both client-side and
 server-side.
 .
 This package contains the debug versions of the library found in libxau6.
 Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'lib/Xau' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: libxau-dev
Section: host-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxau6 (= ${Source-Version}), x11proto-core-dev
Description: X11 authorisation library (development headers)
 This package provides the main interface to the X11 authorisation handling,
 which controls authorisation for X connections, both client-side and
 server-side.
 .
 This package contains the development headers for the library found in libxau6.
 Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'lib/Xau' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg
